@model IEnumerable<Booking.Models.ExampleRequest>

@{
    ViewBag.Title = "Upcoming";
}

<h2>Upcoming</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdultCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialInsturctions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservationTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdultCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialInsturctions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservationTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  name = item.Name  }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
